body{
	background: #f0f0f0;
}
.fondo{
	background: #FFF;
}
.dish{
	margin-bottom: 1.5rem;
}
.bia{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.pdoble{
	color: #8947ad;
	font-weight: 700;
	text-align: center;
}
.tex-1{
	color: #3c3935;
	font-size: 1.5rem;
	font-weight: 600;
}
.correo{
	color: #8947ad;
	font-size: 2rem;

}
.consulta{
	font-size: 1.1rem;
	font-weight: 600;
	color: #3c3935;
}
.enlace{
	color: #8947ad;
}
.base{
	font-size: 0.7rem;
	color: #3c3935;
}
.box1{
	margin-top:1%; 
}
.btn-morado{
	background: #8947ad;
	padding: 1rem 1.5rem;
	color: #FFF;
	border-radius: 10px;
}
.btn-morado:hover{
	background: #8947ad;
	padding: 1rem 1.5rem;
	color: #FFF;
	border-radius: 10px;
}
 .mylittle-pony{
  	width: 80%;
  }
.mlp-box1{
	background: #f0f0f0;
	text-align: right;
}
.mlp-box2{
	padding: 2rem;
}

@media only screen and (max-width: 1024px) {
  .pdoble{
  	font-size: 1.5rem;
  }
  h2{
  	font-size: 1.2rem !important;
  }
}

@media only screen and (max-width: 960px) {
  .mylittle-pony{
  	width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .pdoble{
  	font-size: 1.3rem;
  }
  h2{
  	font-size: 1rem !important;
  }
  .tex-1{
  	font-size: 1.2rem;
  }
  .mylittle-pony{
  	width: 100%;
  }
.mlp-box1{
	text-align: center;
	
}
.mlp-box2{
	text-align: center;

}
}